.table-top-padding{
    padding-top: 1.5em;
}

.table-bottom-margin{
    margin-bottom: 2em;
}

.weight-graph-small-padding-bottom{
    padding-bottom: 1em;
}

.date-paginator-width{
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.header-height-custom{
    height: 40px;
}

.updated-time-width{
    width: 170px;
    text-align: right
}